header.header
  nav
    a(href='/') Главная
    a(href='/remont') Ремонт Apple в Киеве
    a(href='/remont-iphone') Ремонт iPhone в Киеве
    a(href='/remont-ipad') Ремонт iPad в Киеве
    a(href='/remont-macbook') Ремонт MacBook в Киеве
