extends layout
block content
  h1(title='Сервисный центр по ремонту техники Apple') Сервисный центр по ремонту техники Apple
  p Сервисный центр по ремонту техники Apple Service-iphone предоставляет широкий перечень услуг по устранению поломок у техники данного бренда. В нашем штате работают квалифицированные специалисты, а для ремонта мы используем только оригинальные детали. Поэтому если у Вас возникли проблемы с гаджетом, Вы можете быть уверены - мы сможем помочь Вам.
  p Ничто не вечно, поэтому поломка смартфона - это неотъемлемая часть эксплуатации, такая же как ежедневное нажатие кнопок или заряд аккумулятора. Без этого просто никак. Безусловно, приятного мало, но тут нужен конструктивный подход и отношение как к чему-то неизбежному. Единственное правильное решение в таком случае обратиться в качественный сервисный центр. Таким является Service-iphone. Мы всегда готовы помочь Вам. К тому же наш сервис предоставляет гарантию на услуги. У нас Вы можете починить любые гаджеты от Apple.
  h2(title='Ремонт айфона в Киеве') Ремонт айфона в Киеве
  ul
    li
      strong(title='Замена стелка iphone (Киев)') Замена стелка iphone (Киев)
      |. Чаще всего клиенты обращаются к нам с такой проблемой, как повреждение стекла. Оно возникает, как правило, под воздействием механических воздействий. Смартфон падает, что-то упало на него и т.д. Подобная поломка чревата рядом других неисправностей, например, неправильной работой сенсора, необходимостью замены дисплейного модуля и пр.
    li
      strong(title='Замена дисплейного модуля') Замена дисплейного модуля.&nbsp;
      b Ремонт дисплея iphone
      |&nbsp;- процесс требующий специальных навыков и знаний. Иначе, можно еще больше навредить устройству, и привести его в негодность. Наши специалисты владеют техникой решения данной поломки, и устранят ее в кратчайшие сроки.
    li
      | Ремонт Корпуса. Iphone - гаджет премиум-класса и наличие царапин, сколов и трещин на корпусе недопустимо. Если Вы столкнулись с подобной проблемой, обратитесь к нам, и мы поменяем корпус, вернув Вашему смартфону внешний вид, говорящий о Вашем статусе.
    li
      b Замена Аккумулятора
      | . Со временем аккумулятор перестает долго держать заряд. Это очень неудобно, ведь в современном мире важно всегда оставаться на связи. У нас Вы можете произвести замену батареи, и продлить эксплуатационный срок изделия.
    li
      em Ремонт кнопки Home
      | . Поломка кнопок - это результат неаккуратного использования гаджета. Во избежание подобной проблемы необходимо без лишних усилий нажимать на кнопки. Если у Вас уже возникла данная проблема, тогда мы с радостью поможем решить ее.
    li
      | Ремонт Полифонического динамика. Чтобы починить динамик, и вернуть ему заводские потребительские характеристики необходимо использовать только качественные, оригинальные детали. Для ремонта техники мы используем исключительно брендовые компоненты. Поэтому Ваш гаджет заработает, как новый.
    li
      i Замена задней камеры
      | . В современном мире стало еще проще проносить через всю жизнь самые важные события, делая снимки на смартфон. Теперь не обязательно брать с собой в путешествие фотоаппарат, достаточно телефона. Однако поломка камеры может испортить планы. Мы заменим камеру на Вашем смартфоне в самые короткие сроки. Качественный ремонт техники Apple в Киеве с Service-iphone - это проще простого.
    li
      | Замена передней камеры. Вы обожаете селфи? Общаться через видеозвонки? Сломанная фронтальная камера доставляет неудобства? Обратитесь к нам и мы грамотно решим эту проблему.
    li
      | Ремонт кнопки Power (включения). Ни одно устройство не способно функционировать без кнопки включения. Поэтому данная поломка требует быстрого ремонта, и мы обеспечим его Вам. Приходите к нам и наши специалисты сделают качественный&nbsp;
      em ремонт iphone (Киев)
      | .
  h2(title='Ремонт ipad') Ремонт ipad
  p Ваш Айпад поломался? Вы ищите качественный сервисный центр? Тогда Service-iphone отличное решение. У нас работают квалифицированные кадры, которые знают толк в своем деле. Для ремонта мы используем только оригинальные детали и комплектующие. Также наш сервис дает гарантию на предоставляемые услуги. Поэтому Вы можете рассчитывать на высокое качество, и в случае чего обратиться к нам. Гарантия действует на все виды работ.
  p Мы предоставляем услуги ремонта различной сложности, а также предлагаем быстрые сроки на выполнение. Если у Вас сломался гаджет обращайтесь к нам и мы произведем бесплатную диагностику. Мы решаем такие проблемы, как:
  ul
    li проникновение воды в устройство;
    li замена всех деталей (стекло, дисплейный модуль, кнопки и т.д.)
    li ремонт сенсора и пр.
  h2(title='Ремонт macbook') Ремонт macbook
  p
    strong(title='Сервисный центр по ремонту техники Apple') Сервисный центр по ремонту техники Apple&nbsp;
    |  Service-iphone - лучшее решение, если у Вас возникла поломка гаджетов от Apple. Мы специализируемся именно на этой технике, поэтому знаем о ней все. Независимо от сложности поломки мы отремонтируем Ваш Macbook, и он снова заживет новой жизнью.
  h3 Мы предлагаем следующие услуги:
  ul
    li чистка после попадания воды в устройство;
    li замена клавиатуры, матрицы и пр. деталей;
    li замена батареи и др.
  p
    i Сервисный центр по ремонту iphone, ipad, macbook Service-iphone
    |  поможет устранить поломку независимо от ее сложности.
