doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title= title
    meta(name='keywords', content='#{keywords}')
    meta(name='description', content='#{description}')
    meta(name='robots', content='index, follow')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script.
      dataLayer = []
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                  (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-55262919-6', 'auto');
      ga('send', 'pageview');

  body
    block header
      include header
    block content
    block footer
      include footer
